html{
    margin:0;
    padding:0;  
    font-family: 'Open Sans Condensed', sans-serif;  
}

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.inline{
    display:inline-block;
}

#app {

}

#main{

}

#homeScreenOptionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.homeScreenOption {
    border: 1.2px solid black;
    text-align: center;
    font-size: 2em;
    min-width: 300px;
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
}

.homeInput {
    display: block;
    margin: 20px auto;
    font-size: .75em;
    font-family: 'Arial'; 
}

.homeInput:focus {
    outline: none;
}

#createGameMessage {
    font-size: .75em;
}

.denyRequest:hover{
    background:red;
    cursor:pointer;
}

.acceptRequest:hover{
    background:green;
    cursor:pointer;
}

#topBar{
    display:flex;
    height:100px;
    border: 1px solid black;
    text-align:center;
}

#requests{
    width:24%;
    border:1px solid black;
    overflow:scroll;
}

ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

#roomName{
    height: 20px;
}

#chat{
    width:49%;
    border:1px solid black;
}

#chatMessages{
    height: 60px;
    overflow:scroll;
}

.chatMessage{
    text-align:left;
}

#chatForm{
    width:100%;
    height: 20px;
    margin: 0;
}

#chatInput {
    width: 75%;
}

#chatSubmit{
    width: 20%;
}

#players{
    width:24%;
    border:1px solid black;
}

.redPlayer{
    color: red;
}

.bluePlayer{
    color: blue;
}

#redPlayers, #bluePlayers{
    width:49%;
    overflow: scroll;
    display:inline-block;
}

.leftArrow:hover{
    cursor:pointer;
    color:red;
}

.rightArrow:hover{
    cursor: pointer;
    color:blue;
}